# Testing functions


<h2>Vitální charakteristiky</h2>
    <ul>
        <li>HR - Tepová frekvence (bpm)</li>
        <li>O2Sat - Saturace O2 (%)</li>
        <li>Temp - Teplota těla (° C)</li>
        <li>SBP - Systolický tlak (mmHg)</li>
        <li>MAP - Střední arteriální tlak (mmHg)</li>
        <li>DBP - Diastolický tlak (mmHg)</li>
        <li>Resp - Dechová frekvence (počet dechů za minutu)</li>
        <li>EtCO2 - Obsah CO2 ve vzduchu na konci výdechu (end-tidal CO2) (mmHg)</li>
    </ul>

<h2>Laboratorní vyšetření</h2>
    <ul>
        <li>BaseExcess - Measure of excess bicarbonate (mmol/L)</li>
        <li>HCO3 - Bikarbonáty (mmol/L)</li>
        <li>FiO2 - koncentrace O2 ve vdechovaném vzduchu (%)</li>
        <li>PaCO2 - Parciální tlak CO2 v arteriální krvi (mmHg)</li>
        <li>SaO2 - Saturace O2 v arteriální krvi (%)</li>
        <li>AST - Aspartátaminotransferáza (IU/L)</li>
        <li>BUN - Močovinový dusík v krvi (mg/dL)</li>
        <li>Alkalinephos - Alkalická fosfatáza (IU/L)</li>
        <li>Calcium - Vápník (mg/dL)</li>
        <li>Chloride - Chloridy (mmol/L)</li>
        <li>Creatinine - Kreatinin (mg/dL)</li>
        <li>Bilirubin_direct - Bilirubin přímý (mg/dL)</li>
        <li>Glucose - Glykemie (mg/dL)</li>
        <li>Lactate - Laktát (mg/dL)</li>
        <li>Magnesium - Hořčík (mmol/dL)</li>
        <li>Phosphate - Fosfát (mg/dL)</li>
        <li>Potassium - Draslík (mmol/L)</li>
        <li>Bilirubin_total - Bilirubin celkový (mg/dL)</li>
        <li>TroponinI - Troponin I (ng/mL)</li>
        <li>Hct - Hematokrit (%)</li>
        <li>Hgb - Hemoglobin (g/dL)</li>
        <li>PTT - Aktivovaný parciální tromboplastinový čas (s)</li>
        <li>WBC - Leukocyty (*10^3/µL)</li>
        <li>Fibrinogen - Fibrinogen (mg/dL)</li>
        <li>Platelets - Trombocyty (count*10^3/µL)</li>
    </ul>

<h2>Demografické charakteristiky</h2>
    <ul>
        <li>Age - Věk</li>
        <li>Gender Pohlaví: žena (0) or muž (1)</li>
        <li>Unit1 ID JIP (MICU)</li>
        <li>Unit2 ID JIP (SICU)</li>
        <li>HospAdmTime - Počet hodin mezi hospitalizaci a umístěním na JIP</li>
        <li>ICULOS - Doba strávená na JIP (hod)</li>
        <li>Stav pacienta isSepsis 0 – neseptický, 1 – septický (odhadovaná veličina)</li>
    </ul>

In [1]:
import pandas as pd
import numpy as np

In [4]:
filepath = './dataSepsis.csv'

sepsis = pd.read_csv(filepath, sep=';')
sepsis

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,isSepsis
0,103.0,90.0,NaN,NaN,NaN,NaN,30.0,NaN,21.0,45.0,...,5.7,NaN,317.0,83.14,0,NaN,NaN,-0.03,17,0
1,58.0,95.0,36.11,143.0,77.0,47.0,11.0,NaN,NaN,22.0,...,11.0,NaN,158.0,75.91,0,0.0,1.0,-98.60,10,0
2,91.0,94.0,38.50,133.0,74.0,48.0,34.0,NaN,NaN,31.0,...,8.3,NaN,465.0,45.82,0,1.0,0.0,-1195.71,11,0
3,92.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,...,12.0,NaN,298.0,52.01,1,1.0,0.0,-0.03,13,0
4,155.5,94.5,NaN,147.5,102.0,NaN,33.0,NaN,-12.0,13.0,...,9.3,NaN,26.0,64.24,1,1.0,0.0,-0.05,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36297,59.0,95.0,NaN,154.0,110.0,82.0,14.0,NaN,NaN,NaN,...,7.0,NaN,154.0,76.00,1,0.0,1.0,-14.90,19,0
36298,81.0,99.0,NaN,122.0,71.0,58.0,20.0,NaN,NaN,NaN,...,12.6,NaN,238.0,84.00,0,NaN,NaN,-6.69,25,0
36299,76.0,96.0,36.30,118.0,79.0,68.0,14.0,NaN,NaN,NaN,...,10.8,NaN,201.0,30.00,1,NaN,NaN,-0.02,2,0
36300,76.0,89.0,NaN,145.0,102.0,74.0,NaN,NaN,NaN,NaN,...,12.5,NaN,188.0,60.00,0,1.0,0.0,-53.64,15,0
36301,98.0,99.0,NaN,152.0,119.0,84.0,18.0,NaN,NaN,NaN,...,6.8,NaN,230.0,62.00,0,NaN,NaN,0.00,4,0